html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2 !important;
}
#__next{
  height: 100%;
}
body.dark_row{ 
  background-color: #1f1d1d !important;
  .header{
    background-color: red !important;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
 margin: 0px;
}
